@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic');

.container {
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
}

.container--row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.page-main__top {
	display: flex;
	flex-flow: column nowrap;
}

.logo {
	display: flex;
}

.logo__img {
	margin: 0 auto;
	width: 368px;
	height: 204px;
}

.mini-logo__img {
	width: 111px;
	height: 24px;
}

.navigation {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 22px;
	line-height: 1;
	font-weight: 700;
}

.login {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 22px;
	font-weight: 700;
}

.advantages {
	display: flex;
	flex-flow: row nowrap;
}

.advantages-item {
	width: 300px;
	display: flex;
	flex-flow: column;
}

.advantages-item__heading {
	margin: 0 auto;
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 40px;
	line-height: 1;
	font-weight: 700;
}

.advantages-item__text {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
}

.page-main__content {
	display: flex;
	flex-flow: row wrap;
}

.news {
	width: 450px;
}

.news__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 40px;
	line-height: 1;
	font-weight: 700;
}

.news-item__text {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
}

.news-item__date {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1;
	font-weight: 700;
}

.product-gallery {
	width: 450px;
}

.gallery__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 40px;
	line-height: 1;
	font-weight: 700;
}

.contacts {
	width: 450px;
}

.contacts__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 40px;
	line-height: 1;
	font-weight: 700;
}

.contacts__address {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
}

.contacts__working-hours {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
}

.entry {
	width: 450px;
}

.entry__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 40px;
	line-height: 1;
	font-weight: 700;
}

.entry__text {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
}

.page-footer {
	min-height: 190px;
}

.address {
	margin: 0;
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
}

.address__text {
	margin: 0;
}

.social {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
	margin: 0;
}

.social__links {
	list-style-type: none;
	display: flex;
}

.developer {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;

	margin: 0;
	display: flex;
	flex-flow: column;
}

.breadcrumbs {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1;
	font-weight: 700;

	list-style-type: none;
	display: flex;
	padding: 0;
}

.product-gallery {
	width: 500px;
	display: flex;
	flex-flow: row wrap;
}

.product-description {
	width: 400px;
	display: flex;
	flex-flow: column;
}

.description {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.product__buy {
	flex-grow: 2;
}

.composition {
	display: flex;
	flex-flow: column;
}

.composition__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 32px;
	line-height: 1;
	font-weight: 700;
}

.composition__list {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;

	list-style-type: none;
	padding: 0;
}

.main__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 64px;
	line-height: 1;
	font-weight: 700;

	margin: 0 auto;
	width: 700px;
	text-align: center;
}

.our-means {
	width: 450px;
}

.our-means__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 32px;
	line-height: 1;
	font-weight: 700;
}

.our-means__list {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19pt;
	line-height: 1.5;
	font-weight: 700;

	list-style-type: none;
	padding: 0;
}

.price-list {
	width: 450px;
}

.price-list__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 32px;
	line-height: 1;
	font-weight: 700;
}

.price-list-table {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
}

.about-page {
	width: 900px;
	display: flex;
	flex-flow: column nowrap;
}

.about-us {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.about-us__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 32px;
	line-height: 1;
	font-weight: 700;

	width: 500px;
}

.about-us__text {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;

	width: 450px;
}

.left-column {
	width: 200px;
	display: flex;
	flex-flow: column nowrap;
}

.producers__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 32px;
	line-height: 1;
	font-weight: 700;
}

.producers__item {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
}

.product-groups__heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 32px;
	line-height: 1;
	font-weight: 700;
}

.product-groups__item {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
}

.products {
	width: 700px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.product {
	width: 200px;
	display: flex;
	flex-flow: row wrap;
}

.product__name {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1.5;
	font-weight: 700;
}

.product__price {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1;
	font-weight: 700;
}

.pagination {
	width: 200px;
}

.page-heading {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 40px;
	line-height: 1;
	font-weight: 700;
}

.button {
	font-family: "PT Sans Narrow", "Tahoma", sans-serif;
	font-size: 19px;
	line-height: 1;
	font-weight: 700;
}